<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0;url=/descargando?texto={{ texto }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gif.css') }}">
</head>
<body>
    <img class="gif" src="{{ url_for('static', filename='loading.gif') }}" alt="Cargando...">
</body>
</html>
